<div class='container' style="margin-top:90px">
    <div class='row' style="justify-content: center;">
        <div class="col-md-9">
            <div *ngIf="post">
                <h4>{{ post.title}}</h4>
                <p>{{ post.body }}</p>
                <br><br>
                <button type="button" (click)="delete(post)" class="btn btn-primary">Delete</button>
                <button type="button" (click)="update(post)" class="btn btn-primary">Edit</button>

                <div class="row" [hidden]="!editBtnClicked">
                    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                        <form #postForm='ngForm'>
                        <div class="form-group">
                            <label for="Post Title">
                            <h3>What is your post about?
                            </h3>
                            </label>
                            <input type="text" class="form-control" id="title" placeholder="e.g Build a Website"
                            required
                            name="title"
                            #title='ngModel'
                            [(ngModel)]='post.title'
                            >
                            <div [hidden]="title.valid ||   title.pristine"
                            class="alert alert-danger">
                            Title is required
                            </div>
                        </div>
                
                        <div class="form-group">
                            <label for="description"><h3>Post Descripition</h3></label>
                            <textarea class="form-control" id="body" required 
                            name="body" 
                            #body='ngModel'
                            [(ngModel)]='post.body' 
                            rows="3">
                            </textarea>
                            <div [hidden]="body.valid || body.pristine"
                            class="alert alert-danger">
                            Description is required.
                            </div>
                        </div>
                
                        <button type="button" (click)="update(post); onUpdateClicked()" class="btn btn-primary" [disabled]="!postForm.form.valid">
                        Update Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
